html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 1.125rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}

.banner {
  margin: 1rem;
  margin-bottom: 0;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

section {
  text-align: center;
  border-style: solid;
  border-width: .1rem;
  border-color: #e2e2e2;
  border-left: none;
  border-right: none;
  padding: 1rem;
  padding-top: 1.5rem;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div {
  margin: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: .9rem;
}

h5 {
  font-size: 1rem;
  margin-top: 0;
}

.action {
  border-style: solid;
  border-width: .2rem;
  border-color: #cadbe3;
  text-decoration: none;
  padding: .5em 1em .6em;
  border-radius: .3rem;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.divdiv {
  padding-bottom: 1rem;
}

.divdiv p {
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

footer {
  text-align: center;
  font-size: .9rem;
  border-style: solid;
  border-width: .2rem;
  border-color: #e2e2e2;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 1.5rem;
}

.logo {
  margin-bottom: 0;
}

.action {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 38em) {

  .divbanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

  }

  h1 {
    margin-top: 0;
  }

  .navnav {
    border: none;
    justify-content: space-around;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 0;
  }

  .banner {
    margin: 0;
    margin-bottom: 1rem;
  }


    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 35rem;
      gap: 1rem;
      grid-template-areas:
        "header  header  header"
        "col1    col2    col3"
    }

  section {
    grid-area: header;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  .navnav {
    font-size: 1.1rem;
  }

 .divdiv {
   margin-top: 1rem;
   margin: 0;
 }

 .logo {
   margin: 0;
   margin-bottom: 1rem;
   padding-left: .5rem;
   padding-top: .5rem;
 }

 h1 {
   text-align: left;
 }

 h2 {
   text-align: left;
 }

body {
  margin: 1rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

h4 {
  margin-top: 1.5rem;
}
.action {
  display: inline-block;
  text-align: left;
  margin-top: 0;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

}
}
}
